.app{
    margin: 64px;
}

.title{
    font-weight: 200;
}
.sub-title{
    font-family: 'Inria Serif', serif;
    font-weight: 300;
}

.nav-container a{
    font-family: 'Inria Serif', serif;
    text-decoration: none;
  padding-right: 24px;
  font-size: 14px;
  color: black;
  border: 2px solid black;
  margin-right: 16px;
  padding: 4px;
border-radius: 32px;
width: 80px;

display: inline-block;
text-align: center;
line-height: 20px;
}

.nav-container a:active {
    background-color: lightgray; 
  }
  .nav-container a:hover{
    background-color: lightgray; 
  }