.app{
    margin: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.title{
  font-family: 'Inter', sans-serif;
    font-weight: 200;
}
.sub-title{
  
    font-family: 'Inria Serif', serif;
    font-weight: 300;
}

.nav-container a{
  
    font-family: 'Inria Serif', serif;
    text-decoration: none;

  font-size: 14px;
  color: black;
  border: 2px solid black;
  margin-right: 24px;
  padding: 4px;
border-radius: 32px;
width: 80px;

display: inline-block;
text-align: center;
line-height: 20px;
}

.nav-container a:active {
    background-color: lightgray; 
  }
  .nav-container a:hover{
    background-color: lightgray; 
  }

/* 
input{
outline: none;
margin-top: 20px;
width: 800px;
height: 50px;
background-color: black;
border-radius: 8px;
border: 0px solid;
color: white;
padding-left: 16px;
font-size: 16px;
}



.costume-add {

  font-size: 40px;
} */


/* .input-wrapper{
  justify-content: center;
  display: flex;

}
 */


.list-item .items{
  display: flex;
  justify-content: space-between;
  background: black;
  border-radius: 10px;
  padding: 14px;
  display: flex;
 margin-bottom: 16px;
  color:white ;
  width: 600px;
  height: 30px;
  font-family: 'Inter', sans-serif;
}

input[type=checkbox]{
  accent-color:  grey;  
  width: 30px;
  height: 30px;
  margin-top: 0;
 margin-right: 16px;
  }

  .items-1{
    display: flex;
    align-items: center;

  }

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 24px;
  margin-left: 70px;
}

.form input{
  outline: none;
  margin-top: 20px;
  width: 600px;
  height: 50px;
  border: 2px solid black;
  border-radius: 8px;
 
  padding-left: 16px;
  font-size: 16px;
  }

  .costume-add span{
    font-size: 40px;
    margin-top: 18px;
  }

  input::placeholder{
    outline: none;
    color: black
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  
  }